.custom-bg{
    background:#673ab7!important;
}

.admin .card{
    
    border:1px solid #673ab7;
}

.admin .card:hover{
    background:#d1c4e9;
    cursor: pointer;
    
    
}

.list-group-item.active{
    background:#673ab7!important;
    border-color:#673ab7!important;
    
}

.product-card:hover{
    
      background:#d1c4e9;
    cursor: pointer;
}

.discount-label{
    font-size: 10px!important;
    font-style: italic!important;
    
    
}